<template>
  <div>
    <h1 v-if="!show">New not found</h1>
    <v-container v-if="show" class="justify-center">
      <v-col>
        <v-row>
          <h1>{{ title }}</h1>
        </v-row>
        <v-row class="justify-center">
          <v-img
            height="500px"
            width="500px"
            :src="require(`@/${img}`)"
          />
        </v-row>
        <v-row>
          <v-col>
            <h3>{{ name }}</h3>
          </v-col>
          <v-col class="justify-center">
            <h5>{{ date }}</h5>
          </v-col>
        </v-row>
        <v-row>
          <p v-for="(n, idx) in note" :key="idx">{{ n }}</p>
        </v-row>
      </v-col>
    </v-container>
  </div>
</template>

<script>
import { news } from '@/utils/news';

export default {
  name: 'NewView',
  created() {
    this.id = this.$route.params.id;
    const idx = news.findIndex((e) => e.id === parseInt(this.id));
    if (idx > -1) {
      this.show = true;
      this.name = news[idx].author;
      this.title = news[idx].title;
      this.img = news[idx].img;
      this.date = new Date(news[idx].date).toLocaleString();
      this.note = news[idx].text.split('\n');
      console.log(this.note);
    } else {
      this.show = false;
    }
  },
  data: function () {
    return {
      show: true,
      id: 0,
      name: 'Zait',
      title: 'None',
      img: '',
      date: '',
      note: [],
    };
  },
};
</script>
