<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <v-container class="mb-6">
      <v-row
        align="center"
        class="justify-center"
        no-gutters
        style="height: 150px"
      >
        <v-col class="justify-center" v-for="n in news" :key="n.id">
          <v-card
            class="pa-2 justify-center"
            max-width="200px"
            outlined
          >
            <v-img
              align="center"
              height="200px"
              width="200px"
              :src="require(`@/${n.img}`)"
            />
            <v-card-title>{{ n.title }}</v-card-title>
            <v-card-subtitle> {{ n.author }} </v-card-subtitle>
            <v-card-actions>
              <v-btn text @click="showNew(n.id)"> Show more </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { news } from '@/utils/news';

export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  created() {
    this.news = news;
  },
  data: function () {
    return {
      news: [],
    };
  },

  methods: {
    showNew(id) {
      this.$router.push(`/new/${id}`);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
